.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 30px;
  margin-top: 20px;
  width: 100%;
  box-sizing: border-box;
}

.card-title {
  align-self: flex-end;
  margin-right: 60px;
  margin-bottom: 0px;
}

.card-row {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 15px;
  box-sizing: border-box;
}

.card-row-languages {
  justify-content: space-between;
}

.level-hebrew {
  margin-left: auto;
  color: white;
  font-size: 20px;
}

.level-german {
  margin-right: auto; 
  color: white;
  font-size: 12px;
}

.card-row-details {
  color: white;
  direction: rtl; 
  justify-content: flex-end; 
  width: 100%;
}

.progress-container {
  position: absolute;
  bottom: 0; 
  padding-left: 60%;
  transform: translateX(-50%); 
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  width: 100%;
}

/* ------------------------- */

.custom-card-one {
  height: 250px;
  width: 250px;
  border: 1px solid hsl(240, 5%, 64.9%);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease, background-color 0.5s ease;

  background-image: url('image1.png');
  background-size: cover;
  background-position: center;
  color: white;
}

.custom-card-one:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* ------------------------- */

.custom-card-two {
  height: 250px;
  width: 250px;
  border: 1px solid hsl(240, 5%, 64.9%);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease, background-color 0.5s ease;

  background-image: url('image2.png');
  background-size: cover;
  background-position: center;
  color: white;
}

.custom-card-two:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* ------------------------- */

.custom-card-three {
  height: 250px;
  width: 250px;
  border: 1px solid hsl(240, 5%, 64.9%);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease, background-color 0.5s ease;

  background-image: url('image3.png');
  background-size: cover;
  background-position: center;
  color: white;
}

.custom-card-three:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* ------------------------- */

.custom-card-four {
  height: 250px;
  width: 250px;
  border: 1px solid hsl(240, 5%, 64.9%);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease, background-color 0.5s ease;

  background-image: url('image4.png');
  background-size: cover;
  background-position: center;
  color: white;
}

.custom-card-four:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* ------------------------- */

.custom-card-five {
  height: 250px;
  width: 250px;
  border: 1px solid hsl(240, 5%, 64.9%);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease, background-color 0.5s ease;

  background-image: url('image5.png');
  background-size: cover;
  background-position: center;
  color: white;
}

.custom-card-five:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* ------------------------- */

.custom-card-six {
  height: 250px;
  width: 250px;
  border: 1px solid hsl(240, 5%, 64.9%);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease, background-color 0.5s ease;

  background-image: url('image6.png');
  background-size: cover;
  background-position: center;
  color: white;
}

.custom-card-six:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* ------------------------- */