
/* ------------------------- */

.custom-card-one {
  height: 300px;
  width: 300px;
  border: 1px solid hsl(240, 5%, 64.9%);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease, background-color 0.5s ease;

  background-image: url('./image1.png');
  background-size: cover;
  background-position: center;
  color: white;
}

.custom-card-one:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* ------------------------- */

.custom-card-two {
  height: 300px;
  width: 300px;
  border: 1px solid hsl(240, 5%, 64.9%);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease, background-color 0.5s ease;

  background-image: url('./image2.png');
  background-size: cover;
  background-position: center;
  color: white;
}

.custom-card-two:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* ------------------------- */

.custom-card-three {
  height: 300px;
  width: 300px;
  border: 1px solid hsl(240, 5%, 64.9%);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease, background-color 0.5s ease;

  background-image: url('./image3.png');
  background-size: cover;
  background-position: center;
  color: white;
}

.custom-card-three:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* ------------------------- */

.custom-card-four {
  height: 300px;
  width: 300px;
  border: 1px solid hsl(240, 5%, 64.9%);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease, background-color 0.5s ease;

  background-image: url('./image4.png');
  background-size: cover;
  background-position: center;
  color: white;
}

.custom-card-four:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* ------------------------- */

.custom-card-five {
  height: 300px;
  width: 300px;
  border: 1px solid hsl(240, 5%, 64.9%);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease, background-color 0.5s ease;

  background-image: url('image5.png');
  background-size: cover;
  background-position: center;
  color: white;
}

.custom-card-five:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* ------------------------- */

.custom-card-six {
  height: 300px;
  width: 300px;
  border: 1px solid hsl(240, 5%, 64.9%);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease, background-color 0.5s ease;

  background-image: url('image6.png');
  background-size: cover;
  background-position: center;
  color: white;
}

.custom-card-six:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* ------------------------- */