.back-button,
.next-button {
    background-color: #000 !important;
    color: #fff !important;
    border: none !important;
    font-size: 16px;
    border-radius: 4px;
    padding: 8px 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.back-button:hover,
.next-button:hover {
    background-color: #333 !important; 
    color: #fff !important; 
    transform: translateY(-2px);
}


.back-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.next-button-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 20px;
}

