.header-container {
    display: flex; 
    align-items: center;   
    justify-content: space-between; 
    margin: 20px 0; 
    gap: 20px;  
}

.back-button-wrapper {
    margin-left: 20px;  
}

.progress-bar-wrapper {
    flex-grow: 1;
}

.next-button-container {
    position: fixed; 
    bottom: 0;  
    left: 50%; 
    transform: translateX(-50%);
    z-index: 1000;
}

.error-m {
    background-color: hsl(0, 72.2%, 50.6%);
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 300px;
    margin: 0 auto;
    border-radius: 8px;
    position: relative; 
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}