.custom-card {
  height: 300px;
  width: 300px;
  border: 1px solid hsl(240, 5%, 64.9%);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease, background-color 0.5s ease;
  background-size: cover;
  background-position: center;
  color: white;
}

.custom-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.custom-card-seven {
  background-image: url('./image7.png');
}

.custom-card-eight {
  background-image: url('./image8.png');
}

.custom-card-nine {
  background-image: url('./image9.png');
}

.custom-card-ten {
  background-image: url('./image10.png');
}
