/* .next-button {
    background-color: #000 !important;
    color: #fff !important;
    border: none !important;
    font-size: 16px;
    border-radius: 4px;
    padding: 8px 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-align: center;
    cursor: pointer;
}


.back-button:hover,
.next-button:hover {
    background-color: #333 !important; 
    color: #fff !important; 
    transform: translateY(-2px);
}


.back-button:active,
.next-button:active {
    transform: translateY(2px); 
    background-color: #444 !important; 
}


.back-button {
    background-color: #000 !important;
    color: #fff !important;
    border: none !important;
    font-size: 16px;
    border-radius: 4px;
    padding: 8px 16px;
    margin: 0; 
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}
 */
