.course-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .course-wrapper {
    max-width: 1200px;
    width: 100%;
  }
  
  .course-row {
    margin-bottom: 24px;
  }
  
  .course-col {
    display: flex;
    justify-content: center;
  }
  
  .course-link {
    text-decoration: none;
  }

  /* ------------------------------------------------ */

  .course-card-green {
    text-align: center;
    color: white;
    background-color: hsl(142.1, 70.6%, 60%);
    transition: transform 0.3s ease, background-color 0.3s ease;
    width: 160px;
    height: 160px;
    position: relative; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  
  .course-card-green::before {
    content: "";
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 40%; 
    border-radius: 50%; 
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.6) 0%,
      rgba(255, 255, 255, 0) 70%
    );
    pointer-events: none;
  }

  .course-card-green::before {
    content: "";
    position: absolute;
    top: 8%;
    left: 8%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 40%;
    border-radius: 50%;
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.4) 0%, 
      rgba(255, 255, 255, 0) 70%
    );
    pointer-events: none; 
}
  
/* ------------------------------------------------ */

.course-card-grey {
  text-align: center;
  color: rgb(148, 150, 155);
  background-color: hsl(240, 5%, 64.9%);
  transition: transform 0.3s ease, background-color 0.3s ease;
  width: 160px;
  height: 160px;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.course-card-grey::before {
  content: "";
  position: absolute;
  top: 10%; 
  left: 10%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 40%;
  border-radius: 50%; 
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  pointer-events: none; 
}

.course-card-grey::before {
  content: "";
  position: absolute;
  top: 8%; 
  left: 8%; 
  transform: translate(-50%, -50%);
  width: 40%; 
  height: 40%; 
  border-radius: 50%; 
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  pointer-events: none;
}
  
  .course-title-green {
    color: white;
    direction: ltr;
    text-align: center;
  }

    
  .course-title-grey {
    color: rgb(148, 150, 155);
    direction: ltr;
    text-align: center;
  }
  
  .progress {
    direction: rtl;
    text-align: right;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%); 
    width: 60%;
  }
  
  .ant-card {
    border: none;
  }
  
  .ant-card-head {
    border-bottom: none !important; 
  }
  
  .ant-card-head-divider {
    display: none !important; 
  }
